/*------------------------------------------------------------------
[Master Stylesheet]

Primary use:    partners.css file used for styling partners page
-------------------------------------------------------------------*/
.partner-info{
    margin-top: 39px;
}

.img-box{ 
    padding: 10px;
    border: 1px solid #a5a2a2;
    box-shadow: 2px 2px 12px #a7a4a4;
}

.img-box:hover {
    box-shadow: 2px 2px 2px #46166b;
}


